
.customer-says-container {
    margin-bottom: 8rem;
    h1 {
        font-size: xxx-large;
        color:white;
        margin-top: 7rem;
        margin-left: 34rem;
    }

    .customer-says-content {
        display: flex;
        justify-content: space-evenly;
        h3 {
            color:#8eb50b;
            margin-bottom: -0.5rem;
        }
        p {
            border:1px solid white;
            padding:30px;
            color: white;
        }
    }
}