
<div class="customer-says-container">
    <h1>Customers Says</h1>
    <div class="customer-says-content">
        <div class="customer-says-content-1">
            <h3>Loily Mark</h3>
            <p>
                Now use Lorem Ipsum as their default<br>
                model text, and a search for 'loremnow<br>
                use Lorem Ipsum as their default model<br>
                text, and a search for 'lorem
            </p>
        </div>
        <div class="customer-says-content-2">
            <h3>Loily Mark</h3>
            <p>
                Now use Lorem Ipsum as their default<br>
                model text, and a search for 'loremnow<br>
                use Lorem Ipsum as their default model<br>
                text, and a search for 'lorem
            </p>
        </div>
        <div class="customer-says-content-3">
            <h3>Loily Mark</h3>
            <p>
                Now use Lorem Ipsum as their default<br>
                model text, and a search for 'loremnow<br>
                use Lorem Ipsum as their default model<br>
                text, and a search for 'lorem
            </p>
        </div>
    </div>
</div>