
<div class="footer-container">
    <div class="foodfinda-text">
        <h1>FOODFINDA</h1>
        <p>
            t is a long established fact that a<br>
            reader will be distracted by the<br>
            readable content of a page when<br>
            looking at its layout. The point of
        </p>
    </div>
    <div class="navigation">
        <h2>NAVIGATION</h2>
        <h4>Home</h4>
        <h4>About</h4>
        <h4>Location</h4>
        <h4>Services</h4>
        <h4>Features</h4>
    </div>
    <div class="contact-info">
        <h2 class="contact-info-text">CONTACT INFO</h2>
        <h4 class="office-address-text">Office address</h4>
        <div class="office-address-location">
            <fa-icon [icon]="location"></fa-icon>
            <h4 class="location-content">Loram ipusm New York, NY 36524</h4>
        </div>
    </div>
     <div class="discover">
        <h2>DISCOVER</h2>
        <h4>Help</h4>
        <h4>How it works</h4>
        <h4>subscribe</h4>
        <h4>Contact Us</h4>
        <div>
            <h4>Prasad</h4>
            <h4>Prasad</h4>
        </div>
    </div>
</div>