
<div class="navbar-top">
    <div>
        <span class="call">
            <fa-icon [icon]="call"></fa-icon>
            <h4>Call : + 01 1234567890</h4>
        </span>
    </div>
    <div>
        <img src="assets/images/foodfinda.png" />
    </div>
    <div>
        <span class="email">
            <fa-icon [icon]="email"></fa-icon>
            <h4>Email : mail@domain.com</h4>
        </span>
    </div>
</div>
<div class="navbar-contents">
    <h3>HOME</h3>
    <h3>SERVICES</h3>
    <h3>ABOUT</h3>
    <h3>BLOG</h3>
    <h3>SHOP</h3>
    <h3>CONTACTS</h3>
    <h3 class="login">LOGIN</h3>
    <fa-icon [icon]="search"></fa-icon>
</div>