
<div class="quick-search-heading">
    <h1>Quick Searches</h1>
</div>
<div class="quick-search-container">
    <div>
        <img src="assets/images/breakfast-img.png" />
        <h2>Breakfast</h2>
        <button>SEE MORE</button>
    </div>
    <div>
        <img src="assets/images/delivery-img.png" />
        <h2>Delivery</h2>
        <button>SEE MORE</button>
    </div>
    <div>
        <img src="assets/images/dinner-img.png" />
        <h2>Dinner</h2>
        <button>SEE MORE</button>
    </div>
    <div>
        <img src="assets/images/coffee-img.png" />
        <h2>Coffee</h2>
        <button>SEE MORE</button>
    </div>
    <div>
        <img src="assets/images/alcohol-img.png" />
        <h2>Alcohol</h2>
        <button>SEE MORE</button>
    </div>
    <div>
        <img src="assets/images/diningtable-img.png" />
        <h2>Diningtable</h2>
        <button>SEE MORE</button>
    </div>
</div>
