
<div class="collections-food-container">
    <div>
        <h1>Collections Food In City</h1>
    </div>
    <div class="collections-food-details">
        <div class="blog-one">
            <div>
                <img src="assets/images/blog-img1.png" />
            </div>
            <div class="blog-one-content">
                <h2>This Week going</h2>
                <p>Long established fact that a reader will be distracted by the readable<br>
                    content of a page when looking at its layout. The point of using Lorem<br>
                     Ipsum is that it has a more-or-less normal distribution of letters, as<br>
                      opposed</p>
                <button>READ MORE</button>
            </div>
        </div>
        <div class="blog-one">
            <div>
                <img src="assets/images/blog-img2.png" />
            </div>
            <div class="blog-one-content">
                <h2>Just Delivery Food</h2>
                <p>Long established fact that a reader will be distracted by the readable<br>
                    content of a page when looking at its layout. The point of using Lorem<br>
                     Ipsum is that it has a more-or-less normal distribution of letters, as<br>
                      opposed</p>
                <button>READ MORE</button>
            </div>
        </div>
        <div class="blog-one">
            <div>
                <img src="assets/images/blog-img3.png" />
            </div>
            <div class="blog-one-content">
                <h2>Newly Opened Cafe</h2>
                <p>Long established fact that a reader will be distracted by the readable<br>
                    content of a page when looking at its layout. The point of using Lorem<br>
                     Ipsum is that it has a more-or-less normal distribution of letters, as<br>
                      opposed</p>
                <button>READ MORE</button>
            </div>
        </div>
    </div>
</div>