
<div class="get-in-touch-container">
    <h1>Get In Touch</h1>
    <input class="name" type="text" name="Name" placeholder="Name">
    <input class="phone" type="number" name="Phone Number" placeholder="Phone Number">
    <input class="email" type="email" name="Email" placeholder="Email">
    <input class="massage" type="text" name="Massage" placeholder="Massage">
    <div>
        <button>SEND</button>
    </div>
</div>
<div class="order-best-food">
    <h3 class="order-best-food-text">ORDER BEST FOOD AT TIME</h3>
    <button>ORDER NOW</button>
</div>