<div class="best-restaurants-container">
    <div class="best-restaurants">
        <h1>Find The Best Restaurants<br>
            Cafes And Bars </h1>
    </div>
    <div class="your-city">
        <h1>YOUR CITY</h1>
    </div>
</div>
<div class="dropdown-input">
    <div>
        <select name="All Category" id="All Category">
            <option value="Action">Action</option>
            <option value="Another Action">Another Action</option>
            <option value="Something else here">Something else here</option>
        </select>
    </div>
    <div>
        <input type="text" name="Search this blog" placeholder="Search this blog">
        <fa-icon class="search" [icon]="search"></fa-icon>
    </div>
</div>
<div class="order-now-button">
    <button class="order-now">Order Now</button>
</div>
