
<div class="play-app-store">
    <div class="food-finda-app">
        <h1 class="get-the">Get the</h1>
        <h1 class="finda-text">Food Finda App</h1>
        <p>Long established fact that a reader will be distracted by the readable content<br>
            of a page when looking at its layout. The point of using Lorem Ipsum is that it<br>
            has a more-or-less normal distribution of letters, as
        </p>
        <div class="food-finda-app-logos">
            <img src="assets/images/goolge-store-icon.png" />
            <img class="app-store-logo" src="assets/images/play-store-icon.png" />
        </div>
        <button>Download Now</button>
    </div>
    <div class="mobile-app-img">
        <img src="assets/images/mobile-img.png" />
    </div>
</div>